body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    justify-content: center;
    align-items: center;
}

#navbarNav ul {
    transform: translateY(-0.5px);
    margin-left: -7.5px;
}

#navbarNav ul li a {
    text-decoration: none;
    transition: color 0.3s;
    margin: 22px 0;
}

#navbarNav ul li a:hover {
    color: #28a745;
}

.pagina-conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px 20px;
    text-align: center;
}

.btn {
    color: white !important;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    transform: scale(1.05);
}

.btn-custom {
    background-color: #343a40;
    color: #28a745;
    border: 1px solid #28a745;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.btn-custom:hover {
    background-color: #28a745;
    color: white;
}

.resultado {
    width: 90%;
    max-width: 600px;
    min-height: 300px;
    padding: 30px 20px;
    background-color: #2c2f33;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(40, 167, 69, 0.15);
    font-size: 1.05em;
    text-align: left;
    overflow-y: auto;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


h4 {
    color: #28a745;
    text-align: center;

}

#progress-container {
    width: 100%;
    background: #e9ecef;
    height: 20px;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 10px;
    visibility: hidden;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background-color: #28a745;
    text-align: center;
    color: white;
    font-size: 12px;
    line-height: 20px;
    transition: width 0.2s ease;
}

#resultado {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    justify-content: center;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    padding: 10px;
}

.card {
    width: 20rem;
    height: 750px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    padding: 10px;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.card h4,
.card p {
    color: #ecf0f1;
}

.card p strong {
    color: #28a745;
}

.card .d-flex {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

.card button {
    background-color: #343a40;
    color: #28a745;
    border: 1px solid #28a745;
    padding: 4px 8px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.card button:hover {
    background-color: #28a745;
    color: white;
}

.card {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.modal-dialog {
    max-width: 60%;
    height: 80%;
}

.modal-content {
    background-color: #212529;
    color: white;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.modal-header {
    border-bottom: 1px solid #28a745;
    padding: 20px;
}

.modal-title {
    color: #28a745;
}

.btn-close {
    border: none;
    color: white;
    opacity: 1;
}

.btn-close:hover {
    background-color: #28a745;
    opacity: 1;
    color: white;
}

.modal-body {
    text-align: center;
    padding: 20px;
}

.modal-body h4 {
    color: #28a745;
    margin-bottom: 30px;
}

.modal-body p {
    color: #ecf0f1;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.modal-body p strong {
    color: #28a745;
}

.modal-footer {
    border-top: 1px solid #28a745;
    padding: 15px;
}

.modal-footer button {
    background-color: #343a40;
    color: #28a745;
    border: 1px solid #28a745;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.modal-footer button:hover {
    background-color: #28a745;
    color: white;
}

#trailer_link a {
    text-decoration: none;
    color: white;
}

#trailer_link a:hover {
    color: #28a745;
}