body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
}

#navbarNav ul {
    transform: translateY(-0.5px);
}

#navbarNav ul li a {
    text-decoration: none;
    transition: color 0.3s;
    margin: 19px 0;
}

#navbarNav ul li a:hover {
    color: #28a745;
}

button {
    color: white !important;
    border: none;
    transition: transform 0.3s ease;
    cursor: pointer;
}

button:hover {
    transform: scale(1.05);
}

.navbar-nav a {
    transition: all 0.3s ease;
}

.resultado {
    margin-top: 40px;
    white-space: pre-wrap;
    text-align: left;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: #1e1e1e;
    padding: 20px;
    border-radius: 10px;
}